{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>YashThakar-portfolio-site</title>
    <!-- font icons -->
    <!-- <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}"> -->

    <!-- Bootstrap + JohnDoe main styles -->
	<link rel="stylesheet" href="{% static 'assets/css/johndoe.css' %}">
    <script src="https://kit.fontawesome.com/fc8ef37c92.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/solid.css' %}"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> -->
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <!-- <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600"><i class="ti-shift-left-alt"></i> Components</a> -->
    <header class="header">
        <div class="container">
            <ul class="social-icons pt-3">
                <li class="social-item"><a class="social-link text-light" href="https://www.facebook.com/yash.thaker.7374?mibextid=ZbWKwL"><i class="fa-brands fa-facebook"></i> </i></a></li>
                <li class="social-item"><a class="social-link text-light" href="https://www.instagram.com/bhudev_boy_yash/"><i class="fa-brands fa-instagram"></i> </i></a></li>
                <li class="social-item"><a class="social-link text-light" href="https://wa.me/+919510434122"><i class="fa-brands fa-whatsapp"></i> </i></a></li>
            </ul> 
            <div class="header-content">
                <h4 class="header-subtitle" >Hello, I am</h4>
                <h1 class="header-title">Yash Thakar</h1>
                <h6 class="header-mono" >Back end Developer | Django</h6>
                <!-- <button class="btn btn-primary btn-rounded"><i class="ti-printer pr-2"></i>Print Resume</button> -->
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="{% static 'assets/imgs/avatar2.jpg' %}" alt="" class="brand-img">
                    <li class="brand-txt">
                        <h5 class="brand-title">Yash Thakar</h5>
                        <div class="brand-subtitle">Backend Web Developer</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#resume" class="nav-link">Resume</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>